<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Scanner
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <zxing-scanner *ngIf="!isMobileOrTablet" #scanner [formats]="['UPC_E', 'UPC_A']" class="small-video" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>

    <!-- todo: barcode scanner for phone -->

</ion-content>
