<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-button *ngIf="isDesktop" fill="clear" slot="start" (click)="back()">
            <ion-icon color="light" slot="icon-only" name="arrow-back-outline" (click)="back()"></ion-icon>
        </ion-button>
        <ion-title>
            Scanner
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="isDesktop">

    <zxing-scanner #scanner [formats]="['UPC_E', 'UPC_A']" class="small-video"
                   (scanSuccess)="scanSuccessOnDesktop($event)"></zxing-scanner>
</ion-content>

<ion-content *ngIf="!isDesktop">
    <ion-button class="button-bottom" *ngIf="!(loading$ | async)" (click)="scanOnDevice()">
        <ion-label>Scan</ion-label>
    </ion-button>

    <ion-spinner class="button-bottom" *ngIf="(loading$ | async)" name="dots"></ion-spinner>

    <app-nutrition-item [item]="item$ | async"></app-nutrition-item> <!--(viewActivity)="presentModal()"-->
</ion-content>

