<ion-card *ngIf="item">
    <ion-item>

      <ion-thumbnail *ngIf="item.image" slot="start">
        <ion-img [src]="item.image"></ion-img>
      </ion-thumbnail>

      <ion-label>
        {{item.name}}
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="this.viewActivity.emit()">Needed activity</ion-button>
    </ion-item>

    <ion-card-content>
      {{item.calories + ' kcal'}}
    </ion-card-content>
</ion-card>

<ion-item lines="none" *ngIf="!item">
  <ion-label class="ion-text-center">
    Sorry, product not found.
  </ion-label>
</ion-item>
