<div class="center-flex">
    <ion-card class="ion-padding ion-margin">
        <ion-card-header>
            <ion-item class="display-flex">

                <ion-img [src]=" imgSrc || 'assets/icon/favicon.png'"
                         class="image-item">
                </ion-img>

                <div class="titles container-titles">
                    <ion-card-title class="title-item">{{name}}</ion-card-title>

                    <ion-card-subtitle *ngIf="getClass() === 'easy'" class="easy">{{getDifficulty()}}</ion-card-subtitle>
                    <ion-card-subtitle *ngIf="getClass() === 'medium'" class="medium">{{getDifficulty()}}</ion-card-subtitle>
                    <ion-card-subtitle *ngIf="getClass() === 'hard'" class="hard">{{getDifficulty()}}</ion-card-subtitle>

                    <ion-card-subtitle *ngIf="calories" class="ion-margin-top">{{calories}} kcal</ion-card-subtitle>
                    <ion-card-subtitle *ngIf="ingredients && ingredients.length > 0">
                        {{ingredients}}
                    </ion-card-subtitle>
                </div>

            </ion-item>
        </ion-card-header>


        <ion-card-content>
            <ion-grid *ngIf="isDesktop">
                <app-grid-row [activities]="activities | slice:0:3"></app-grid-row>
                <app-grid-row [activities]="activities | slice:3:6"></app-grid-row>
                <app-grid-row [activities]="activities | slice:6:9"></app-grid-row>
            </ion-grid>

            <ion-grid *ngIf="!isDesktop">
                <app-grid-row [activities]="activities | slice:0:2"></app-grid-row>
                <app-grid-row [activities]="activities | slice:2:4"></app-grid-row>
                <app-grid-row [activities]="activities | slice:4:6"></app-grid-row>
                <app-grid-row [activities]="activities | slice:6:8"></app-grid-row>
                <app-grid-row [activities]="activities | slice:8:9"></app-grid-row>
            </ion-grid>

        </ion-card-content>
    </ion-card>
</div>
