<div class="center-flex">
    <ion-card class="ion-padding ion-margin">
        <ion-card-header>
            <ion-item class="display-flex">

                <ion-img src="assets/icon/favicon.png"
                         class="ion-margin padding-10">
                </ion-img>

                <div class="titles">
                    <ion-card-title>{{name}}</ion-card-title>
                    <ion-card-subtitle class="ion-margin-top">{{calories}} kcal</ion-card-subtitle>
                </div>
            </ion-item>
        </ion-card-header>


        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <app-item-col [time]="getActivityTimeNumber(1)" [id]="1"></app-item-col>
                    </ion-col>
                    <ion-col>
                        <app-item-col [time]="getActivityTimeNumber(2)" [id]="2"></app-item-col>
                    </ion-col>
                    <ion-col>
                        <app-item-col [time]="getActivityTimeNumber(3)" [id]="3"></app-item-col>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <app-item-col [time]="getActivityTimeNumber(4)" [id]="4"></app-item-col>
                    </ion-col>
                    <ion-col>
                        <app-item-col [time]="getActivityTimeNumber(5)" [id]="5"></app-item-col>
                    </ion-col>
                    <ion-col>
                        <app-item-col [time]="getActivityTimeNumber(6)" [id]="6"></app-item-col>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <app-item-col [time]="getActivityTimeNumber(7)" [id]="7"></app-item-col>
                    </ion-col>
                    <ion-col>
                        <app-item-col [time]="getActivityTimeNumber(8)" [id]="8"></app-item-col>
                    </ion-col>
                    <ion-col>
                        <app-item-col [time]="getActivityTimeNumber(9)" [id]="9"></app-item-col>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>
    </ion-card>
</div>
