/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.center {
  margin: auto;
}

.button-bottom {
  position: fixed;
  left: 0;
  bottom: 50px;
  right: 0;
}

.margin-top-23 {
  margin-top: 23px;
}

.center-flex {
  display: flex;
  justify-content: center;
}

.display-flex {
  display: flex;
}

.padding-10 {
  padding: 10px;
}

.margin-15 {
  margin: 15px;
}

.hard {
  color: red;
}

.medium {
  color: yellow;
}

.easy {
  color: green;
}

ion-icon {
  font-size: 25px;
}

ion-img {
  width: 100px;
  height: 100px;
}

ion-card {
  width: 1000px;
  margin-top: 40px;
}

.titles {
  margin-top: 25px;
  margin-bottom: 25px;
}


